<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: head"></head>
<body>
	<div class="container mt-4">
		<table class="table table-striped">
			<th scope="col">ID</th>
			<th scope="col">Login</th>
			<th scope="col">Avatar</th>
			<tr th:each="user: ${userList}">
				<th scope="row" th:text="${user.id}" />
				<td th:text="${user.login}" />
				<td><img width="60" th:src="${user.avatar_url}"></td>
			</tr>
		</table>
		<nav>
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#"
					aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
				</a></li>

				<li th:each="i : ${#numbers.sequence( 1, numPages/1)}"
					class="page-item"><a th:text="${ i }" class="page-link"
					th:href="@{/getAllUsers(pageNo=${i-1})}"></a></li>

				<li class="page-item"><a class="page-link" href="#"
					aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
						class="sr-only">Next</span>
				</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>